@import "reset";
@import "colors";
@import "type";
@import url(http://fonts.googleapis.com/css?family=Orbitron);
@import "xwing";

body {
  background: $black;
  color: $seafoam;
  font-family: Orbitron;
  text-align: center;
}
